.logo {
    padding: 10px;
}

main {
    margin: 0px auto 50px auto;
    text-align: center;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/intermediate-javascript-requests/wanderlust/background_photo_desktop.jpg');
    background-size: cover;
    text-align: center;
}
